<body>

  <form class="form-signin" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="username" class="sr-only">Email address</label>
  <input type="text" class="form-control" name="username" id="username" placeholder="Your username"
         formControlName="username" #username><label for="password" class="sr-only">Password</label>
  <input type="password" class="form-control" name="password" id="password" placeholder="Your password"
         formControlName="password">
  <div class="checkbox mb-3">
    <label>
      <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

</form>
</body>
